@define-color accent_color #20d0fc;

* {
  border: none;
  border-radius: 8;
  min-height: 0;
  /* For the taskbar, I prefer simple Noto Sans.*/
  font-family: Departure Mono; /*Fira Code;*/
  font-weight: Bold;
  font-size: 10px;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background: transparent;
}



window#waybar {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.25)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.6)50%);
  border-radius: 10px 10px 0 0;
  border-width: 1px;
  border-bottom-width: 1px;
  padding: 0px;

  border-style: solid;
  border-color: rgba(255,255,255,0.2);
/*  background-color: transparent; */
}

tooltip {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.15)50%, rgba(0,0,0,0.2)50%, rgba(0,0,0,0.3)50%);
  color: white;

  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-top-color: rgba(255,255,255,0.4);
  border-bottom-color: rgba(255,255,255,0.25);
}
tooltip label {
  color: white;
}

#power-profiles-daemon.performance,
#window,
#pulseaudio.microphone,
#custom-launcher {
  color: @accent_color;
  text-shadow: 0px 0px 6px @accent_color;
  font-size: 9px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
  margin: 4px;
  margin-left: 0.1cm;
  padding: 4px 8px;
  border-radius: 8px;
  border-style: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: rgba(255,255,255,0.15);
  border-top-color: rgba(255,255,255,0.45);
  border-width: 1px;
}
#power-profiles-daemon,
#clock,
#user,
#custom-playerctl,
#memory,
#privacy,
#calendar,
#tray,
#workspaces,
#language,
#pulseaudio {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(0,0,0,0.025));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.34);
  margin: 3px;
  padding: 0px 8px;
  border-radius: 8px;
  color: rgb(220,220,220);

  border-style: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: rgba(255,255,255,0.15);
  border-top-color: rgba(255,255,255,0.45);
  border-width: 1px;
}

#tray menu {
  background-color: rgba(255,255,255,0.025);
  color: rgba(220,220,220, 1);
  padding: 4px;
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.15),rgba(0,0,0,0.2),rgba(0,0,0,0.4));
  margin: 3px;
  color: rgb(220,220,220);
  border-radius: 4px;

  border-style: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: rgba(255,255,255,0.15);
  border-top-color: rgba(255,255,255,0.3);
  border-width: 1px;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, rgba(0,255,255,0.15), rgba(0,0,0,0.3), rgba(0,255,255,0.15));
  color: @accent_color;
  text-shadow: 0px 0px 6px @accent_color;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

#workspaces button {
transition-duration: 100ms;
all: initial;
min-width: 0;
color: rgb(220,220,220);
margin-right: 2px;
margin-left: 2px;
text-shadow: 0px 0px 4px rgb(135,135,135);
}


#workspaces button.active {
  color: @accent_color;
  text-shadow: 0px 0px 6px @accent_color;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color:@accent_color;
  text-shadow: 0px 0px 8px @accent_color;
}

#workspaces button.current_output {
color: @accent_color;;
}
#power-profiles-daemon.power-saver,
#pulseaudio.microphone.source-muted,
#workspaces button.urgent {
color: #e78a4e;
text-shadow: 0px 0px 6px #e78a4e;
}

